.profile {
  border: 1px solid black;
  border-radius: 5px;
  width: 350px;
  display: inline-block;
  margin: 10px;
  text-align: center;
  opacity: 0.85;
}

.profile-content {
  margin: 10px;
}

.profile-content span, .profile-content div {
  display:block;
  padding: 5px;
}

body {
  font-family:roboto;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /*background-color: #36393E;*/
}

.profile:hover {
  opacity: 1;
  border: 2px solid black;
  margin: 9px;
  /*cursor:url(http://www.javascriptkit.com/dhtmltutors/cursor-hand.gif), auto;*/
  cursor: pointer;
}

img {
  padding-top: 30px;
  display: inline;
  max-width: 400px;
}